*{
  margin: 0; padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.container{
  height: 105vh;
  background-color: #f9fbfc;
}
.cima{
  background-color: #1d539e;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -60px;
}

.baixo{
  height: 10vh;
}

h1{
  color: white;
  font-size: 48px;
  margin: 15px;
  font-weight: 700;
}
h2{
  font-size: 36px;
  line-height: 49px;
  color: #1E2338;
  font-weight: bold;
  margin-bottom: 10px;
}
h3{
  color: white;
  font-weight: 400;
  font-size: 18px;
  max-width: 553px;
}

#meio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 18px;
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
  background-color: #f9fbfc;
}

.cards{
  background-color: white;
  margin-top: -100px;
  color: #828799;
  padding: 30px;
  font-size: 14px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 355px;
  height: 470px;
  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
}

.cards span{
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #828799;
}
#centavos{
  font-size: 18px;
  color: #1E2338;
  font-weight: bold;
}
.titulo-card{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #1E2338;
  margin-bottom: 32px;
}
hr{
  margin-top: 20px;
  margin-bottom: 24px;
  border-color: #EEEEEE;
  opacity: 0.4;
}

.benef{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.benef img{
  margin-right: 20px;
}

.botao{
  display: flex;
  align-items: center;
  justify-content: center;
}

#assinar-free, #assinar-profissional{
  background-color: transparent;
  border: 1px solid #1D539E;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 24px;
  width: 296px;
  height: 49px;
  color: #1D539E;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

#assinar-free{
  margin-top: 90px;
}

#assinar-profissional{
  margin-top: 20px;
}

#assinar-basico{
  width: 296px;
  height: 51px;
  background: #1D539E;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 60px;
  font-weight: 600;
}

#banner{
  height: 76px;
  background-color: #FFCC29;
  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
  border-radius: 8px 8px 0px 0px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #1D539E;
}

#card-basico{
  height: 490px;
  margin-top: -110px;
  padding: 0;
}

#card-basico .benef{
  color: #828799;
  font-weight: 600;
}

#popular{
  width: 94px;
  height: 32px;
  left: 783px;
  top: 322px;
  background: #1D539E;
  border-radius: 40px;
  color: white;
  float: right;
  margin-top: -85px;
  margin-right: 20px;
}

#corpo{
  padding: 10px 30px;
}

#banner .titulo-card{
  padding: 25px 30px;
}